body{
    background-color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
}
h4 {
    background-color: antiquewhite;
    color: #3f250b;
    font-weight: bold;
    font-size: 50px;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}
.navbar {
    background-color: #3f250b!important;
    color: white!important;
    font-size: 21px;
}

.nav-link {
    color: white!important;
    margin-right: 200px;
    margin-left: 200px;
}
.container-fluid{
    background-color: antiquewhite;
    padding: 10px;
}

.form-inline md-form mb-0 {
    max-width: 10px;
}
.card{
    background-color: tan;
    height: 80vh;
    padding: 50px;
    border-color: lightgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 10%;
}
.img-responsive {
    background-color: tan;
    height: 80vh!important;
    width: 400px!important;
    padding: 0px;
    border-color: lightgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 15%;
    margin-right: 10%;
}
.form-inline{
    margin:0;
}
.form-inline {
    width: 250px;
}
.form-control {
    margin-left: 20px;
    width:80%;
    font-family: 'Montserrat', sans-serif;
}
footer {
    background-color: antiquewhite;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0px solid lightgray;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
}
.btn {
    background-color: darkmagenta;
    border: 2px black;
    color: white;
}
.btn :hover {
 background-color: lightslategrey!important;
}
h5 {
    background-color: rgb(223, 209, 189);
    padding: 15px;
    border-bottom: 1px solid black;
    margin-bottom: 45px;
}
.navbar-brand {
    font-size: 16px;
    list-style-type: none!important;
}
.image {
    height: 40px;
}
